body{
	background-color: rgb(37, 37, 37);
	font-family: 'Montserrat', sans-serif;
}

section#team{
	max-width:1200px;
}

section#team div.my-card-group div.card{
	min-width:150px;
	background-color:transparent!important;
	border:none !important;
}

section#team div.my-card-group div.card img{

	border-radius:50%;
	filter: drop-shadow(11px 4px 6px #1675db) grayscale(65%);
}