body{
	background-color: rgb(37, 37, 37);
	font-family: 'Montserrat', sans-serif;
}

section#team div.container-fluid{
	padding-top:5rem;
	max-width:1500px;
}

section#team div.my-card-group div.card{
	width:220px;
	background-color:transparent!important;
	border:none !important;
}

section#team div.my-card-group div.card p.card-text{
	font-size:.85rem;
}

section#team div.my-card-group div.card img{

	border-radius:50%;
	filter: drop-shadow(11px 4px 6px #1675db) grayscale(65%);
}